.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu li {
  margin: 0px 10px;
}

.navigation-menu li a {
  text-decoration: none;
  color: white;
}

.burgerhouse {
  text-decoration: none;
  color: goldenrod;
}

/* mobile view */

.mobile-navigation {
  list-style: armenian;
}

.mobile-navigation li {
  margin-top: 20px;
}

.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
